/* colours inspired by Sublime Text 2 Monokai http://www.eclipsecolorthemes.org/?view=theme&id=6093 */
article {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
}

body {
  background:#272822;
  font-family:sans-serif
}
a {
  text-decoration:none;
  color:#66D9EF;
}
a:hover {
  text-decoration:underline;
}
header {
  text-align: center;
  color:#FFE792;
  font-size: 200%;
  text
  
}
h1, h2, h3 {
  color:#FFE792;
  font-weight: normal;
}
ul, li {
  color:#F8F8F2;
}
dt {
  color:#A6E22E; 
}
dd {
  color:#F8F8F2;
}

caption {
  color:#AE81FF;
}
th {
  color:#66D9EF;
}
td {
  color:#F8F8F2;
}
code {
  font-size: 120%;
}
pre {
  color:#F8F8F2;
  font-size: 130%;
}
p {
  color:#F8F8F2;
}
img {
  margin:10px 0 5px;
}